SECRET_KEY=change-me
DATABASE_URI=sqlite:///db.sqlite3

BASE_SERVERS_PATH=C:\Users\your-user\Documents\minecraft_server
BASE_PLUGIN_PATH=C:\Users\your-user\Documents\minecraft_plugins
BASE_BUILD_PATH=C:\Users\your-user\Documents\minecraft_builds
BASE_MODS_PATH=C:\Users\your-user\Documents\minecraft_mods

MINECRAFT_JAVA_PATH=java

PORT_RANGE_START=25566
PORT_RANGE_END=30000
